<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rad Windsurf Weather Tracker</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <button id="toggleView" class="toggle-button">Switch to Surf Vibes 🏄‍♂️</button>
        <div class="sidebar">
            <div class="current-conditions">
                <h2>Current Vibes</h2>
                <div id="current-weather">
                    <div class="weather-item">Temp Gauge: <span id="temperature">--</span>°C</div>
                    <div class="weather-item">Wind Flow: <span id="wind-speed">--</span> m/s</div>
                    <div class="weather-item">Wind's Comin' From: <span id="wind-direction">--</span>°</div>
                    <div class="weather-item">Moisture Level: <span id="humidity">--</span>%</div>
                    <div class="weather-item">Beach Status: <span id="weather-description">--</span></div>
                </div>
            </div>
            <div class="hourly-forecast">
                <h2>Upcoming Sesh Forecast</h2>
                <div id="hourly-weather"></div>
            </div>
        </div>
        <div class="main-content">
            <div id="boidContainer" style="display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;">
                <canvas id="boidCanvas"></canvas>
            </div>
            <div id="map"></div>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/weather.js') }}"></script>
    <script src="{{ url_for('static', filename='js/boids.js') }}"></script>
    <script>
        let boidSim;
        document.getElementById('toggleView').addEventListener('click', function() {
            const map = document.getElementById('map');
            const boidContainer = document.getElementById('boidContainer');
            const button = document.getElementById('toggleView');
            
            if (boidContainer.style.display === 'none') {
                boidContainer.style.display = 'block';
                map.style.display = 'none';
                button.textContent = 'Show Weather Map 🗺️';
                if (!boidSim) {
                    boidSim = new BoidSimulation();
                }
            } else {
                boidContainer.style.display = 'none';
                map.style.display = 'block';
                button.textContent = 'Switch to Surf Vibes 🏄‍♂️';
            }
        });
    </script>
</body>
</html>
